
* {
  box-sizing: border-box;
  text-align: center;
}

#body {
    background-image: url("../images/background.jpg");
}

#uptext {
    position: relative; top: -25px;
}
#header {
        background-color: #4aaaa5;
        width: 300px;
        height: 80px;
        padding: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #ffffff;
        font-size: 32px;
        text-align: center;
        margin: Left;
        float: Left;
}
#head {
        float: Right;

}
div.header {
    margin: auto;
    padding: 80px;
    color: #3d3d3d;
    background: #ffffff;
    width: 960px;

}
div.body {
    margin: auto;
    padding: 100px;
    color: #3d3d3d;
    background: #ffffff;
    width: 960px;
    word-wrap: break-word;
}
#image {
    float: Left;
}
#bodyhead {
    float: Left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5
}
#text {
    Float: Left;
}
#submit {
    background-color: #4aaaa5;
    width: 140px;
    height: 60px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    margin: Left;
    float: Left;
}
#pimage {
    Float: Left;
    Padding: 20px;

}
@media only screen and (max-width: 980px) {
}
@media only screen and (max-width: 768px) {
    div.header {
      width: 600px;
    }
    #header {
        font-size: 26px;
        width: 250px;
        height: 65px;
    }
    div.body {
        width: 600px;
        display: block;
    }
    #image{
        display: block;
        clear: both;
    }
    body {
        display: block;
        clear: both;
    }
    #pimage {
        width: 400px;
        height: 400px;
        float: left;
    }
    input {
        width: 450px;
    }
    textarea {
        width: 450px;
    }
    #i1 {
        position: relative; top: -1525px;
    }
    #i2 {
        position: relative; top: -600px;
    }
  }

  @media only screen and (max-width: 640px) {
    div.header {
      width: 500px;
      padding: 0px;
    }
    #pimage{
        position: relative; right: 50px;
    }
    #header {
        font-size: 26px;
        width: 500px;
        height: 100px;
        float: left;
        display: block;
    }
    div.body {
        width: 500px;
        display: block;
    }
    input {
        width: 350px;
    }
    textarea {
        width: 350px;
    }
    #image{
        display: block;
        clear: both;
        width: 300px;
        height: 300px;
        padding: 0px;
    }
    body {
        display: block;
        clear: both;
    }
    div {
        width: 50%;
    }
    header {
        position: relative; top: 20px;
    }
    #head {
        position: relative; top: 5px;
        float: left;
        position: relative; left: 175px;
    }
    #xstext {
        position: relative; top: -80px;
    }
    #xshead {
        position: relative; top: 5px;
    }
  }
